In [ ]:
1. The operators are +, -, *, and /.
2.The values are 'hello', -88.8, and 5.

In [ ]:
2. The variable is spam; the string is 'spam'. Strings always start and end
with quotes.

In [ ]:
3. The three data types introduced in this chapter are integers, floatingpoint numbers, and strings.

In [ ]:
4. An expression is a combination of values and operators. All expressions
evaluate (that is, reduce) to a single value.

In [ ]:
5. An expression evaluates to a single value. A statement does not.

In [ ]:
6. The bacon variable is set to 20. The bacon + 1 expression does not
reassign the value in bacon (that would need an assignment statement:
bacon = bacon + 1).

In [5]:
#7. Both expressions evaluate to the string 'spamspamspam'.
print('spam' +'spamspam')
print('spam'*3)

spamspamspam
spamspamspam

In [ ]:
8. Variable names cannot begin with a number

In [ ]:
9. The int(), float(), and str() functions will evaluate to the integer,
floating-point number, and string versions of the value passed to them

In [6]:
#10. The expression causes an error because 99 is an integer, and only
#strings can be concatenated to other strings with the + operator. The
#correct way is I have eaten ' + str(99) + ' burritos.'.
print('I have eaten'+str(99)+'burritos')

I have eaten99burritos